body {
    margin: 0;
    padding: 0;
}

.container-main{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-left{
    display: flex;
    background-color: rgba(128, 128, 128, 0.5);
    min-width: 200px;
    min-height: 200px;
}

.header-center{
    display: flex;
    background-color: rgba(0, 0, 255, 0.5);
    min-width: 200px;
    min-height: 200px;
}

.header-right{
    display: flex;
    background-color: rgba(128, 128, 128, 0.5);
    min-width: 200px;
    min-height: 200px;
}

.horizontal-menu{
    display: flex;
    justify-content: space-between;
}

.horizontal-menu-item{
    display: flex;
    min-width: 50px;
    min-height: 50px;
    background-color: rgba(70, 240, 240, 0.5);
}

.container-frontpage{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.frontpage-row-left{
    display: flex;
    flex-direction: column;
    min-width: 600px;
    flex-grow: 1;
}

.frontpage-row-right{
    display: flex;
    justify-content: space-between;
    min-width: 600px;
    flex-grow: 1;
}

.frontpage-spotlight{
    display: flex;
    height: 300px;
    margin: 5px 5px 5px 5px;
    background-color: rgba(0, 0, 255, 0.2);
}

.frontpage-jornalismo-a{
    display: flex;
    justify-content: space-between;
}

.frontpage-jornalismo-b{
    display: flex;
    justify-content: space-between;
}

.frontpage-esporte{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 50%;
}

.frontpage-entretenimento{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 50%;
}

.headline-a{
    min-height: 200px;
    min-width: 200px;
    margin: 5px 5px 5px 5px;
    background-color: rgba(0, 0, 255, 0.2);
    width: 33%;
}

.headline-b{
    min-height: 150px;
    min-width: 200px;
    margin: 5px 5px 5px 5px;
    background-color: rgba(255, 0, 0, 0.2);
    width: 33%;
}

.headline-c{
    min-height: 300px;
    min-width: 300px;
    margin: 5px 5px 5px 5px;
    background-color: rgba(145, 30, 180, 0.2);
}