.container{
    margin: 0 auto;
    background-color: red;
    display: flex;
    justify-content: center;
}

.header-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    background-color: rgba(200, 200, 200, 1);
}

.left, .center, .right{
    display: flex;
    justify-content: center;
}